body, header, h1, h2, div, header, footer, li{
    padding: 0;
    margin: 0;
    border: 0;
}

header{
    color: #0D3B66;
    min-height: 50px;
}

body{
    color: #FAF0CA;
}

h1{
    color: #F4D35E;
}

section{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 150px;
    padding-bottom: 150px;
    color: #FAF0CA;
    color: #F4D35E;
    
}
p{
    size: 2.5em;
}

footer{
    color: #0D3B66;
    min-height: 50px;
}

img{
    min-height: 50px;
}
@-ms-viewport{ 
    width: device-width; }